@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", cursive, sans-serif;
  background-color: #EEEEEE;  
}

a {
  text-decoration: none;
}

.movie-card {
  width: 80%;
  box-shadow: 
      -9px -9px 9px 0 rgba(255, 255, 255, 1),
      9px 9px 9px 0 rgba(0, 0, 0, .03);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 2rem auto;
  border-radius: 5px;
}

.movie-director {
  padding: 4px 0;
  font-size: 0.8rem;
}

.saved-list {
  border-radius: 5px;
  background-color: #EEEEEE;  
  box-shadow: 
      -9px -9px 9px 0 rgba(255, 255, 255, 1),
      9px 9px 9px 0 rgba(0, 0, 0, .03);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 2rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.saved-list h3 {
  margin-right: auto;  
}

.saved-movie {
  margin: 0 10px;
}
.saved-active {
  color: blue;
  border: 1px solid grey;
  padding: 5px;
}
.save-wrapper {    
  position: relative;
  width: 75%;
  margin: 1rem auto;
}

.button__container {
  position: absolute;
  top: 1px;
  right: 140px;  
  padding: 5px 10px;
}
.save-button {
  position: absolute;
  top: 25px;
  right: 25px;
  border: 1px solid lightseagreen;
  padding: 5px 10px;
  background-color: lightseagreen;
  border-radius: .2em;
}
.save-button:hover, .update-button:hover, .delete-button:hover {
  background-color: white;
  color: lightseagreen;
}

.home-button, .add-movie-button {
  margin-left: 5px;
  padding: 5px 10px;
  background-color: lightskyblue;
  border: 1px solid lightskyblue;
  border-radius: .2em;
}

.home-button:hover, .add-movie-button:hover {  
 color: lightskyblue;
 background-color: white;
  
}

.movie-warning {
  color: red;
  text-align: center;
}

.update-button {
  position: absolute;
  top: 25px;
  right: 95px;
  border: 1px solid lightseagreen;
  padding: 5px 10px;
  background-color: lightseagreen;
  border-radius: .2em;
}

.delete-button {
  position: absolute;
  top: 25px;
  right: 180px;
  border: 1px solid lightseagreen;
  padding: 5px 10px;
  background-color: lightseagreen;
  border-radius: .2em;
}

.update__form__container, .add__form__container {
  width: 400px;
  margin: 0 auto;
  padding: 1em;
}


.add__form button, .button-group {
  width: 100%
} 